@page
@model RecipeUI.Pages.RecipesP.CreateModel

<form method="post">
    <div class="border" p-3 mt-2>
        <div class="row" pb-4>
            <h2 class="text-primary pl-3">Add recipe</h2>
        </div>
        <div class="mb-3">
            <label asp-for="Recipe.Title"></label>
            <input asp-for="Recipe.Title" class="form-control" />
            <span asp-validation-for="Recipe.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Recipe.Ingredients"></label>
            <input asp-for="Recipe.Ingredients" class="form-control" />
            <span asp-validation-for="Recipe.Ingredients" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Recipe.Instructions"></label>
            <input asp-for="Recipe.Instructions" class="form-control" />
            <span asp-validation-for="Recipe.Ingredients" class="text-danger"></span>
        </div>
                <div class="mb-3">
            <label asp-for="Recipe.Categories"></label>
            <input asp-for="Recipe.Categories" class="form-control" />
            <span asp-validation-for="Recipe.Categories" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;">Add</button>
    </div>
</form>
