@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Recipes Application</h1>
</div>
<div class="align-content-lg-end text-end">
    <a asp-page="create" class="btn btn-primary">
        <i class="bi bi-plus-square"></i>&nbsp; Add new recipe
    </a>
</div>
<div class="col-container">
    <h2 class="col">

        @foreach (var recipe in Model.Recipes)
            {
                <a class="btn btn-primary mx-2" asp-area="" asp-page="RecipeDetails" asp-route-id="@recipe.Id"><p role="img" aria-label="hamburger">🍔</p>@recipe.Title</a>
            }  
    </h2>
</div>